@model net_migrations.Domain.Author
<form asp-action="Create">

  <div class="form-group">
    <label for="exampleInputPassword1">Name</label>
    <input type="text" asp-for="Name" class="form-control" placeholder="Name">
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" asp-for="Email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>